.detailed_tab{
    width: 80%;
    margin: 15px auto;
    padding: 10px;
    color: #111;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .main_sec{
        display: flex;
        align-items: center;
        justify-content: space-around;

        .left_img{
            .weather_img{
                width: 150px;
            }    
        }

        .right_desc{
            .aligned{
                display: inline-block;
                margin: 10px 12px;
            }
        }
       
       
    }
    
}




