<div class="detailed_tab" *ngIf="weatherData">
    <h2 class="heading section">Detailed Report</h2>
    <div class="main_sec">
        <div class="left_img">
            <img src="../../assets/weather_icons/rainy_sun.svg" alt="" class="weather_img" *ngIf="weatherData.main.temp <= 24">
            <img src="../../assets/weather_icons/cloudy-day-2.svg" alt="" class="weather_img" *ngIf="weatherData.main.temp > 24">
        </div>
        <div class="right_desc">
            <div class="aligned">
                <h3 class="sub_head_country">City Name </h3>
                <p class="country_name">{{weatherData.name}}</p>
            </div>
            <div class="aligned">
                <h3 class="sub_head_country">Feels Like </h3>
                <p class="weather_now">{{weatherData.weather[0].description}}</p>
            </div>
            <div class="aligned">
                <h3 class="sub_head_country">Temperature </h3>
                <p class="temp">{{weatherData.main.temp | number: '1.0-0'}}<i class="fa-solid fa-droplet-degree"></i></p>
            </div>
            <div class="aligned">
                <h3 class="sub_head_country">Pressure </h3>
                <p class="pressure">{{weatherData.main.pressure}}</p>
            </div>
            <div class="aligned">
                <h3 class="sub_head_country">Humidity </h3>
                <p class="humidity">{{weatherData.main.humidity}}%</p>
            </div>
            <div class="aligned">
                <h3 class="sub_head_country">Wind Speed </h3>
                <p class="wind">{{weatherData.wind.speed}}km/h</p>
            </div>
        </div>
    </div>
</div>